.center {
    display: inline-block;
    position: absolute;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid black;
    background-color: transparent;
    font-size: 20pt;
    margin-bottom: 20px;
}

.form-input:nth-last-child(1) {
    margin-bottom: 0;
}

@media all and (max-width: 767px) {
    .center {
        width: 90vw;
        left: 5vw;
        top: 40vw;
    }
}

@media all and (min-width: 768px) {
    .center {
        width: 400px;
        left: calc(50vw - 200px);
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {

}

@media all and (min-width: 1025px) {

}