* {
    font-family: arial;
    outline: 0;
    margin: 0;
    padding: 0;

    -ms-touch-action: pan-x pan-y;
    touch-action: manipulation;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-tap-highlight-color: transparent;
}

body {
    overflow-x: hidden;
}

.footer {
    font-size: 10pt;
    text-align: center;
    position: absolute;
    width: 100vw;
}

.footer a {
    color: black;
}

@media all and (max-width: 767px) {
    body {
        height: calc(160vw - 30px);
    }

    .footer {
        top: 160vw;
    }
}

@media all and (min-width: 768px) {
    .footer {
        bottom: 30px;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {

}

@media all and (min-width: 1025px) {
   
}